Round Robin Flow/flows/Lead_Round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Update assignment member last assignment time</description>
        <name>Assignment_member_update</name>
        <label>Assignment member update</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_assignment_members.Last_Assigned_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_group_memeber</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lead Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Round Robin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_group</name>
        <label>Get Assignment group</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_assignment_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>UAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_assignment_members</name>
        <label>Get assignment members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Members__c</object>
        <sortField>Last_Assigned_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_group_memeber</name>
        <label>Update group memeber</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputReference>Get_assignment_members</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_owner</name>
        <label>Update Lead owner</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assignment_member_update</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_assignment_members.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignment_group</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
