Round Robin Flow/flows/Set_out_of_office_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Out_of_office_date</name>
        <label>Assign Out of office date</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Assignment_members.Out_of_office_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Out_of_office_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Assignment_members.Out_of_office_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Out_of_office_End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assignment_members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Set out of office flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set out of office flow</label>
    <loops>
        <name>Loop_through_Assignment_members</name>
        <label>Loop through Assignment members</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Out_of_office_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_assignment_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_members</name>
        <label>Get members</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assignment_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_assignment_members</name>
        <label>Update assignment members</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>Loop_through_Assignment_members</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Assignment_members</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Update your Out of the office&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Out_of_office_start</name>
            <dataType>DateTime</dataType>
            <fieldText>Out of office start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 2, 2);&quot;&gt;Out-of-office start time must be greater than the current date and time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Out_of_office_start} &gt;= Now()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Out_of_office_End</name>
            <dataType>DateTime</dataType>
            <fieldText>Out of office End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Out of office End date/time must be greater than out of office start date/time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Out_of_office_End} &gt;{!Out_of_office_start}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_members</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
