Visitor Logs/flows/Visitor_Log_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_the_total_hours_in</name>
        <label>Assign the total hours in</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Totalnumberofhours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Visitor_logs.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Visitor_logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmpVisitorRecord_Assignment</name>
        <label>EmpVisitorRecord Assignment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.First_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Mobile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Date_Time_IN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Date_Time_In</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Date_Time_OUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Date_Time_Out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpVisitorRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_employee_visit_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Checkhours</name>
        <choiceText>Check Logged Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checkhours</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAdd</name>
        <choiceText>Add Visit Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Visit Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDelete</name>
        <choiceText>Delete the log entries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Visitor_Log_by_current_month</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Visitor Log by current month</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Visitor_Log_by_current_month</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visitor_logs_for_the_employee</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Visitor_Log_by_current_month.Date_Time_IN__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>CurrentmonthEntry</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Employe_entry_logs</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>VisitorAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001Dm0000040izeIAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Or_delete</name>
        <label>Add Or delete</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_to_Be_performed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceAdd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_visit_Info</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_to_Be_performed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visitor_Log_by_current_month</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
        <rules>
            <name>Check_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_to_Be_performed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Checkhours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_the_Visitor_logs</targetReference>
            </connector>
            <label>Check Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_selected_records_are_not_null</name>
        <label>Check if selected records are not null</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Month_logs.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_selected_records</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Coverthours</name>
        <dataType>String</dataType>
        <expression>TEXT(FLOOR({!Totalnumberofhours})) &amp; &apos; Hr &apos; &amp;
TEXT(({!Totalnumberofhours} - FLOOR({!Totalnumberofhours}))*60) &amp; &apos; Mins &apos;</expression>
    </formulas>
    <formulas>
        <name>CurrentmonthEntry</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(TODAY()),month(Today()),1))</expression>
    </formulas>
    <interviewLabel>Visitor Log - Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visitor Log - Employee</label>
    <loops>
        <description>Get number of hours for the employee</description>
        <name>Loop_through_the_Visitor_logs</name>
        <label>Loop through the Visitor logs</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Visitor_logs_for_the_employee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_total_hours_in</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_employee_visit_record</name>
        <label>Create employee visit record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <targetReference>Error_Flow</targetReference>
        </faultConnector>
        <inputReference>EmpVisitorRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_selected_records</name>
        <label>Delete selected records</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>error_message</targetReference>
        </faultConnector>
        <inputReference>Current_Month_logs.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get contact to match the provided ID</description>
        <name>Get_Employee_Contact</name>
        <label>Get Employee Contact</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeIDvar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visitor_logs_for_the_employee</name>
        <label>Get Visitor logs for the employee</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Or_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visitor_Log__c</object>
        <sortField>Date_Time_OUT__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_if_any_error</name>
        <label>Rollback if any error</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Employe_entry_logs</name>
        <label>Employe entry logs</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_selected_records_are_not_null</targetReference>
        </connector>
        <fields>
            <name>DT32</name>
            <fieldText>&lt;p&gt;Please select the record that needs to be deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Month_logs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Visitor_Log__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Month logs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Visitor_logs_for_the_employee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2f73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Visitor Log Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Time_IN__c&quot;,&quot;guid&quot;:&quot;column-aba4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date Time IN&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Date_Time_OUT__c&quot;,&quot;guid&quot;:&quot;column-7333&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date Time OUT&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-d4b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_visit_Info</name>
        <label>Employee visit Info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EmpVisitorRecord_Assignment</targetReference>
        </connector>
        <fields>
            <name>Employee_visit_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_visit_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_visit_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT1</name>
                    <fieldText>&lt;p&gt;{!EmployeeInfo1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Date_Time_In</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date Time In</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_visit_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!EmployeeInfo2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Date_Time_Out</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date Time Out</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Selected Out time {!Copy_1_of_Date_Time_Out} must be greater than the in time.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Copy_1_of_Date_Time_Out} &gt; {!Copy_1_of_Date_Time_In}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_visit_Info_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen1</name>
        <label>Final Screen1</label>
        <locationX>1458</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Hours</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Total number of In hours By {!Get_Employee_Contact.Name}: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(57, 118, 8); font-size: 16px;&quot;&gt;{!Coverthours}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Logs_with_hours</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Visitor_Log__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Visitor_logs_for_the_employee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-93cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Visitor Log Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Time_OUT__c&quot;,&quot;guid&quot;:&quot;column-5716&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date Time OUT&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Date_Time_IN__c&quot;,&quot;guid&quot;:&quot;column-8e0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date Time IN&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Hours__c&quot;,&quot;guid&quot;:&quot;column-931a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Hours&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Contact_details</name>
        <label>Verify Contact details</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Visitor_logs_for_the_employee</targetReference>
        </connector>
        <fields>
            <name>Verify_Contact_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Contact_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_details</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please review the details if this is correct then click next.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Contact_details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Contact_details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_email</name>
                    <fieldText>&lt;p&gt;{!EmployeeInfo1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_phone</name>
                    <fieldText>&lt;p&gt;{!EmployeeInfo2}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Contact_details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Contact_details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_to_Be_performed</name>
                    <choiceReferences>ChoiceAdd</choiceReferences>
                    <choiceReferences>ChoiceDelete</choiceReferences>
                    <choiceReferences>Checkhours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action to Be performed</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_details_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Flow</name>
        <label>Error Flow</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>Error_Message_flow</flowName>
    </subflows>
    <subflows>
        <name>error_message</name>
        <label>error message</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Rollback_if_any_error</targetReference>
        </connector>
        <flowName>Error_Message_flow</flowName>
    </subflows>
    <textTemplates>
        <name>EmployeeInfo1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Employee_Contact.FirstName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Employee_Contact.Email}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmployeeInfo2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Last Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Employee_Contact.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Phone: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Employee_Contact.Phone}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Visitor_Log_by_current_month</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitor_Log__c</objectType>
    </variables>
    <variables>
        <name>EmployeeIDvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EMPVISITORLOG</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitor_Log__c</objectType>
    </variables>
    <variables>
        <name>EmpVisitorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitor_Log__c</objectType>
    </variables>
    <variables>
        <name>Totalnumberofhours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VisitorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VisitorcontactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitorLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitor_Log__c</objectType>
    </variables>
</Flow>
