Resume Flow/flows/Feedback_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_feedback_template</name>
        <label>Assign feedback template</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Allfeedbacks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeedbackTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_feedbacks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormatFeedbacks</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Allfeedbacks}, &apos;,&apos;, &apos;&apos;), &apos;[&apos;,&apos;&apos;), &apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Feedback Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Display</label>
    <loops>
        <name>Loop_through_feedbacks</name>
        <label>Loop through feedbacks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Feedbacks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_feedback_template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Feedbacks</name>
        <label>Get Feedbacks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_feedbacks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Feedback__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Feedbacks</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Feedbacks:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!FormatFeedbacks}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Feedbacks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FeedbackTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!Loop_through_feedbacks.Name__c}: &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Loop_through_feedbacks.Feedback__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>Allfeedbacks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003Dm000003ME3zIAG</stringValue>
        </value>
    </variables>
</Flow>
