Resume Flow/flows/Resume_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Certfication_Set1</name>
        <label>Assign Certfication Set1</label>
        <locationX>666</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>CertSet1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CertificationTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_certifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Certificate_Set2</name>
        <label>Assign Certificate Set2</label>
        <locationX>930</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>CertSet2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CertificationTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_certifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_certifications</name>
        <label>Assign certifications</label>
        <locationX>930</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>AllCertifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CertificationTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Certifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_education_template</name>
        <label>Assign education template</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllEducations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EducationTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Educations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Experiance_templates</name>
        <label>Assign Experiance templates</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AllExperience</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExperienceTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Experiance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skills_set_1</name>
        <label>Assign Skills set 1</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SkillSet1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillsTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_though_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skills_set_2</name>
        <label>Assign Skills set 2</label>
        <locationX>930</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SkillSet2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillsTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_though_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Table</name>
        <label>Assign Table</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EduTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EduTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_education_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_table</name>
        <label>Close table</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>EduTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Experiance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Assignment</name>
        <label>Counter Assignment</label>
        <locationX>930</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewRowcheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Assignment2</name>
        <label>Counter Assignment2</label>
        <locationX>930</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_NewRowcheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>578</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Certifications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_NewRowcheck</name>
        <label>Copy 1 of NewRowcheck</label>
        <locationX>930</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Assign_certifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Certificate_Set1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Certfication_Set1</targetReference>
            </connector>
            <label>Certificate Set1</label>
        </rules>
        <rules>
            <name>Certificate_Set2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Certificate_Set2</targetReference>
            </connector>
            <label>Certificate Set2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Type</name>
        <label>Display Type</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Main_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Displaytype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Info</targetReference>
            </connector>
            <label>Main Screen</label>
        </rules>
        <rules>
            <name>Side</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Displaytype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Side</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Side_Screen</targetReference>
            </connector>
            <label>Side</label>
        </rules>
        <rules>
            <name>Top</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Displaytype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Top</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Top_Side_Screen</targetReference>
            </connector>
            <label>Top</label>
        </rules>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Displaytype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Contact_Info</targetReference>
            </connector>
            <label>All</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewRowcheck</name>
        <label>NewRowcheck</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_though_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Set1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skills_set_1</targetReference>
            </connector>
            <label>Skill Set1</label>
        </rules>
        <rules>
            <name>Skill_Set_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skills_set_2</targetReference>
            </connector>
            <label>Skill Set 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CertificationFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AllCertifications}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CertSet1Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!CertSet1}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CertSet2Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!CertSet2}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckMod</name>
        <dataType>Number</dataType>
        <expression>MOD({!Counter},2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EducationFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AllEducations}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>EduTableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+
&apos;&lt;ul&gt;&lt;li&gt;&apos;+{!Loop_through_Educations.Degree_or_Program__c}+&apos;:&apos;+
{!Loop_through_Educations.Field_Of_study__c}+&apos;(&lt;I&gt;&apos;+{!Loop_through_Educations.College_University__c}+&apos;&lt;/I&gt;)&apos;+&apos;&lt;/li&gt;&lt;/ul&gt;&lt;/td&gt;&lt;tdstyle=&quot;text-align:right;&quot;&gt;&apos;+
{!Loop_through_Educations.Edu_Year__c}+&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ExperianceFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AllExperience}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>NewRowFormula</name>
        <dataType>String</dataType>
        <expression>If(MOD({!Counter},2) == 0,&apos;&lt;br/&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SkiilsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AllSkills}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SkillSet1Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!SkillSet1}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SkillSet2Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!SkillSet2}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;), &apos;&gt;,&lt;&apos;, &apos;&gt;&lt;&apos;)</expression>
    </formulas>
    <interviewLabel>Resume Display {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Resume Display</label>
    <loops>
        <name>Loop_though_Skills</name>
        <label>Loop though Skills</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Certifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Certifications</name>
        <label>Loop through Certifications</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <collectionReference>Get_Certifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_Assignment2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Educations</name>
        <label>Loop through Educations</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Education_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Table</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Experiance</name>
        <label>Loop through Experiance</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Experiance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Experiance_templates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Skills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Certifications</name>
        <label>Get Certifications</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Education_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faut_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Education_records</name>
        <label>Get Education records</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Educations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Education__c</object>
        <sortField>Graduation_Year__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Experiance</name>
        <label>Get Experiance</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Experiance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Experience__c</object>
        <sortField>Starting_Year__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skills</name>
        <label>Get Skills</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_though_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Contact_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResumeHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Profiles</name>
                    <fieldText>&lt;p&gt;{!HorizontalLine}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 14pt; font-family: Cambria, serif;&quot;&gt;PROFILE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Profile</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact.Profile__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EducationHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!HorizontalLine}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Cambria, serif; font-size: 14pt;&quot;&gt;EDUCATIONS&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Education_details</name>
                    <fieldText>&lt;p&gt;{!EducationFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EduTable}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Experience</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!HorizontalLine}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14pt; font-family: Cambria, serif; color: rgb(102, 102, 102);&quot;&gt;WORK EXPERIENCE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Experiance</name>
                    <fieldText>&lt;p&gt;{!ExperianceFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Contact_Info</name>
        <label>Copy 1 of Contact Info</label>
        <locationX>842</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Contact_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contact_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contact_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Contact</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResumeHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Profiles</name>
                    <fieldText>&lt;p&gt;{!HorizontalLine}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 14pt; font-family: Cambria, serif;&quot;&gt;PROFILE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Profile</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact.Profile__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_EducationHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!HorizontalLine}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Cambria, serif; font-size: 14pt;&quot;&gt;EDUCATIONS&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Education_details</name>
                    <fieldText>&lt;p&gt;{!EducationFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Experience</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!HorizontalLine}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14pt; font-family: Cambria, serif; color: rgb(102, 102, 102);&quot;&gt;WORK EXPERIENCE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Experiance</name>
                    <fieldText>&lt;p&gt;{!ExperianceFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contact_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Contact_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contact_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contact_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Linkedin_test</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!LinkedInTemplated}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SkillsAndCert</name>
                    <fieldText>&lt;p&gt;{!SkiilsFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!CertificationFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contact_Info_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Faut_screen</name>
        <label>Faut screen</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Side_Screen</name>
        <label>Side Screen</label>
        <locationX>314</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Side_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Side_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skill_section</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14pt; font-family: Cambria, serif; color: rgb(102, 102, 102);&quot;&gt;SKILLS&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Side_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Side_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skills_Left</name>
                    <fieldText>&lt;p&gt;{!SkillSet1Formula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skills_right</name>
                    <fieldText>&lt;p&gt;{!SkillSet2Formula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Side_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Side_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Certification_section</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: Cambria, serif; font-size: 14pt; background-color: rgb(255, 255, 255);&quot;&gt;CERTIFICATIONS&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Side_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Side_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CertLeft</name>
                    <fieldText>&lt;p&gt;{!CertSet1Formula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cert_right</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!CertSet2Formula}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Side_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Top_Side_Screen</name>
        <label>Top Side Screen</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Top_Side_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Top_Side_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Top_Side_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SocialMedia</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!LinkedInTemplated}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Top_Side_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Top_Side_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Top_Side_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CertificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-box_xx-small&quot;&gt;&lt;p&gt;{!Loop_through_Certifications.Name}&lt;/p&gt;&lt;/div&gt;&lt;br/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EducationTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;em&gt;﻿&lt;/em&gt;{!Loop_through_Educations.Degree_or_Program__c}: {!Loop_through_Educations.Field_Of_study__c} (&lt;em&gt;{!Loop_through_Educations.College_University__c}&lt;/em&gt;)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!Loop_through_Educations.Edu_Year__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExperienceTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Loop_through_Experiance.Job_Title__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Loop_through_Experiance.Company_Name__c}  &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; {!Loop_through_Experiance.Total_Exp__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Loop_through_Experiance.Responsibilities__c}&lt;/span&gt;&lt;hr /&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HorizontalLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;hr /&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LinkedInTemplated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br/&gt;&lt;Center&gt;&lt;a class=&quot;slds-button slds-button_outline-brand&quot; href=&quot;https://{!Get_Contact.Linked_In__c}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;View my profile on Linked In&lt;/b&gt;&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a class=&quot;slds-button slds-button_outline-brand&quot; href=&quot;http://{!Get_Contact.Trailhead_URL__c}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;View my profile on trailblazer&lt;/b&gt;&lt;/a&gt;&lt;BR/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ResumeHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Contact.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Contact.Title}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact.Country__c} | {!Get_Contact.MobilePhone} | {!Get_Contact.Email} | &lt;a href = &quot;http://{!Get_Contact.Linked_In__c}&quot;&gt;{!Get_Contact.Linked_In__c}&lt;/a&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SkillsTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;Div class=&quot;slds-box slds-box_xx-small&quot;&gt;&lt;p&gt;{!Loop_though_Skills.Name}&lt;/p&gt;&lt;/div&gt;&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AllCertifications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllEducations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllExperience</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllSkills</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CertSet1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CertSet2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003Dm000003ME3zIAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Displaytype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Main</stringValue>
        </value>
    </variables>
    <variables>
        <name>EduTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style = &quot;width:100%; boarder: 1px solid black;&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SkillSet1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillSet2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
